Repository nginx-proxy/nginx-proxy, pull requests merged in 2021-06, with the labels that each got.

#1659 Improve logging
  nginx.tmpl
Labels: type/feat

#1662 Docs and tests for custom HTTP/HTTPS ports
  README.md
  nginx.tmpl
  test/test_http_port.py
  test/test_http_port.yml
  test/test_ssl/test_https_port.py
  test/test_ssl/test_https_port.yml
Labels: type/docs, type/test

#1667 Use `server 127.0.0.1 down` entry only when required
  nginx.tmpl
  test/test_debug/test_proxy-debug-flag.py
  test/test_server-down/test_no-server-down.py
  test/test_server-down/test_no-server-down.yml
  test/test_server-down/test_server-down.py
  test/test_server-down/test_server-down.yml
Labels: type/fix, type/test
