Repository nginx-proxy/nginx-proxy, pull requests merged in 2022-02, with the labels that each got.

#1888 Fix path to default.conf in README.md
  README.md
Labels: type/docs

#1895 Add container logs in case testcontainer exited unexpectedly
  test/conftest.py
Labels: type/test

#1902 Bump docker-gen to 0.8.2
  Dockerfile
  Dockerfile.alpine
Labels: type/build, scope/dockerfile
