Repository nginx-proxy/nginx-proxy, pull requests merged in 2022-12, with the labels that each got.

#2042 Simple mistake in DEFAULT_ROOT variable name
  README.md
Labels: type/docs

#2102 build: dockergen 0.9.0 -> 0.9.1
  Dockerfile
  Dockerfile.alpine
Labels: type/build, scope/dockerfile

#2118 build: dockergen 0.9.1 -> 0.9.2
  Dockerfile
  Dockerfile.alpine
Labels: type/build, scope/dockerfile

#1927 feat: Option to not trust `X-Forwarded-*` headers from clients
  README.md
  app/docker-entrypoint.sh
  nginx.tmpl
  test/test_trust-downstream-proxy/certs/web.nginx-proxy.tld.crt
  test/test_trust-downstream-proxy/certs/web.nginx-proxy.tld.key
  test/test_trust-downstream-proxy/test_default.py
  test/test_trust-downstream-proxy/test_default.yml
  test/test_trust-downstream-proxy/test_disabled.py
  test/test_trust-downstream-proxy/test_disabled.yml
  test/test_trust-downstream-proxy/test_enabled.py
  test/test_trust-downstream-proxy/test_enabled.yml
Labels: type/docs, type/feat
