Repository nginx-proxy/nginx-proxy, pull requests merged in 2023-05, with the labels that each got.

#2230 build: get docker-gen from pre-built image
  .github/workflows/build-publish.yml
  Dockerfile
  Dockerfile.alpine
Labels: type/ci, type/build, scope/dockerfile

#2231 build: don't install wget inside images
  Dockerfile
  Dockerfile.alpine
Labels: type/build, scope/dockerfile

#2239 fix: always on session cache on HTTPS fallback listener
  nginx.tmpl
Labels: type/fix

#2238 build: get forego from pre-built image
  Dockerfile
  Dockerfile.alpine
Labels: type/build

#2247 Update nginx.tmpl
  nginx.tmpl
Labels: type/fix

#2250 fix: Replace mDNS .local domain with .internal domain
  README.md
  docker-compose-separate-containers.yml
  docker-compose.yml
  test/conftest.py
  test/test_composev2.py
  test/test_composev2.yml
  test/test_custom/test_defaults-location.py
  test/test_custom/test_defaults-location.yml
  test/test_custom/test_defaults.py
  test/test_custom/test_defaults.yml
  test/test_custom/test_location-per-vhost.py
  test/test_custom/test_location-per-vhost.yml
  test/test_custom/test_per-vhost.py
  test/test_custom/test_per-vhost.yml
  test/test_custom/test_proxy-wide.py
  test/test_custom/test_proxy-wide.yml
  test/test_internal/test_internal-per-vhost.py
  test/test_internal/test_internal-per-vhost.yml
  test/test_internal/test_internal-per-vpath.py
  test/test_internal/test_internal-per-vpath.yml
  test/test_multiple-networks.py
  test/test_multiple-networks.yml
  test/test_vhost-in-multiple-networks.py
  test/test_vhost-in-multiple-networks.yml
Labels: type/docs, type/test
