Repository nginx-proxy/nginx-proxy, pull requests merged in 2024-05, with the labels that each got.

#2429 docs: redordering, grouping and navigation
  docs/README.md
Labels: type/docs

#2432 fix: tests webserver syntaxwarning
  test/requirements/web/webserver.py
Labels: type/test

#2433 docs: url fixes
  docs/README.md
Labels: type/docs

#2435 tests: add test if nginx-proxy-builder can be build successfully
  test/test_build.py
Labels: type/test

#2440 test: use python alpine variant as base for web image
  test/requirements/web/Dockerfile
  test/requirements/web/entrypoint.sh
Labels: type/test

#2438 tests: Add tests for how Let's Encrypt ACME challenge is handled
  test/conftest.py
  test/test_ssl/acme_root/.well-known/acme-challenge/test-filename
  test/test_ssl/test_https_port.py
  test/test_ssl/test_https_port.yml
  test/test_ssl/test_nohttp.py
  test/test_ssl/test_nohttp.yml
  test/test_ssl/test_nohttps.py
  test/test_ssl/test_nohttps.yml
  test/test_ssl/test_noredirect.py
  test/test_ssl/test_noredirect.yml
  test/test_ssl/test_virtual_path.py
  test/test_ssl/test_virtual_path.yml
  test/test_ssl/test_wildcard.py
  test/test_ssl/test_wildcard.yml
  test/test_ssl/wildcard_cert_and_nohttps/acme_root/.well-known/acme-challenge/test-filename
  test/test_ssl/wildcard_cert_and_nohttps/docker-compose.yml
  test/test_ssl/wildcard_cert_and_nohttps/test_wildcard_cert_nohttps.py
Labels: type/test

#2449 fix: include a complete fastcgi_params config
  nginx.tmpl
Labels: type/fix

#2460 fix: hardcode requests package version to 2.31.0
  test/requirements/python-requirements.txt
Labels: type/test

#2430 feat: custom default error page
  Dockerfile.alpine
  Dockerfile.debian
  docs/README.md
  nginx.tmpl
  test/test_custom-error-page/50x.html
  test/test_custom-error-page/test_custom-error-page.py
  test/test_custom-error-page/test_custom-error-page.yml
Labels: type/feat

#2468 feat: boolean variable ACME_HTTP_CHALLENGE
  docs/README.md
  nginx.tmpl
  test/test_acme_http_challenge_location/acme_root/.well-known/acme-challenge/test-filename
  test/test_acme_http_challenge_location/certs/nginx-proxy.tld.crt
  test/test_acme_http_challenge_location/certs/nginx-proxy.tld.key
  test/test_acme_http_challenge_location/test_acme_challenge_location_disabled.py
  test/test_acme_http_challenge_location/test_acme_challenge_location_disabled.yml
  test/test_acme_http_challenge_location/test_acme_challenge_location_enabled.py
  test/test_acme_http_challenge_location/test_acme_challenge_location_enabled.yml
  test/test_acme_http_challenge_location/test_acme_challenge_location_legacy_is_default.py
  test/test_acme_http_challenge_location/test_acme_challenge_location_legacy_is_default.yml
  test/test_ssl/test_noredirect.py
Labels: type/fix, type/feat
