Repository nginx-proxy/nginx-proxy, pull requests merged in 2024-12, with the labels that each got.

#2499 feat: basic implementation of IPv6 for IPv6 docker networks
  .github/workflows/test.yml
  docs/README.md
  nginx.tmpl
  test/test_ipv6/test_ipv6.py
  test/test_ipv6/test_ipv6.yml
  test/test_ipv6/test_ipv6_prefer_ipv4_network.py
  test/test_ipv6/test_ipv6_prefer_ipv4_network.yml
  test/test_ipv6/test_ipv6_prefer_ipv6_network.py
  test/test_ipv6/test_ipv6_prefer_ipv6_network.yml
Labels: type/feat

#2558 fix: wildcard certificates should only work one level deep
  docs/README.md
  nginx.tmpl
  test/test_ssl/test_cert_selection.py
  test/test_ssl/test_cert_selection.yml
Labels: type/fix

#2563 tests: supplemental test for certificate selection
  test/test_ssl/cert_selection/nginx-proxy.tld.crt
  test/test_ssl/cert_selection/nginx-proxy.tld.key
  test/test_ssl/cert_selection/web1.nginx-proxy.tld.crt
  test/test_ssl/cert_selection/web1.nginx-proxy.tld.key
  test/test_ssl/test_cert_selection.py
  test/test_ssl/test_cert_selection.yml
Labels: type/test

#2566 ci: python 3.12+ compatibility
  .github/workflows/test.yml
  test/conftest.py
  test/requirements/Dockerfile-nginx-proxy-tester
  test/test_dockergen/test_dockergen.py
Labels: type/ci, type/test
