Repository nginx-proxy/nginx-proxy, pull requests merged in 2025-05, with the labels that each got.

#2614 Clear instruction for naming of htpasswd file
  docs/README.md
Labels: type/docs

#2279 feat: allow nginx / docker-gen network segregation
  docs/README.md
  nginx.tmpl
  test/test_dockergen/test_dockergen_network_segregation-custom-label.base.yml
  test/test_dockergen/test_dockergen_network_segregation-custom-label.py
  test/test_dockergen/test_dockergen_network_segregation.base.yml
  test/test_dockergen/test_dockergen_network_segregation.py
Labels: type/feat

#2622 fix(ci): correctly grab docker-gen version from dockerfile
  .github/workflows/build-publish-dispatch.yml
  .github/workflows/build-publish.yml
Labels: type/fix

#2623 docs: config summary
  docs/README.md
Labels: type/docs

#2626 fix: set auth_request off for all acme challenge locations
  nginx.tmpl
Labels: type/fix

#2625 test: fix docker-gen tests flakyness
  .github/workflows/test.yml
  test/conftest.py
  test/test_dockergen/test_dockergen.base.yml
  test/test_dockergen/test_dockergen.py
  test/test_dockergen/test_dockergen_network_segregation-custom-label.base.yml
  test/test_dockergen/test_dockergen_network_segregation-custom-label.py
  test/test_dockergen/test_dockergen_network_segregation.base.yml
  test/test_dockergen/test_dockergen_network_segregation.py
Labels: type/test
